*{
  box-sizing: border-box;
}

h2{
 
}

h3{

}

.about-banner{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right,darkblue, pink);

}

.about-top{
  display:block;
  justify-content: center;
  text-align: center;
}

.about-image{
  display: flex;
  justify-content: center;
  padding: 1em;
  
  

}

.about-main-content{
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 2em;
  font-size: 17px;
  font-style: italic;
}



/* 
.about-content{
  width: 80%;
}

.about-image{
display: flex;
}

.about-top{
  position: fixed;
  left: 50%;
}

.about-main-content{
  width: 60%;
  text-align: center;
  
} */